<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/assets/images/dw_favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/dw_favicon.ico" type="image/x-icon">
    <!-- themify -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">

    <!-- iconfont -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">

    <!-- simple line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/simple-line-icons/css/simple-line-icons.css">

    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Chartlist chart css -->
    <link rel="stylesheet" href="/assets/plugins/chartist/dist/chartist.css" type="text/css" media="all">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <title>{{title}}</title>
</head>

<body class="sidebar-mini fixed">
    <div class="wrapper">
        <!-- Navbar-->
        <!-- Navbar-->
        <header class="main-header-top hidden-print">
            <a href="/index" class="logo"><img class="img-fluid able-logo" src="/assets/images/dw_whitesmall.png"
                    alt="Theme-logo"></a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
                <ul class="top-nav lft-nav title">
                    <li>
                        <h1 class="heading-light">{{customerInfo}}</h1>
                    </li>
                </ul>
                <!-- Navbar Right Menu-->
                <div class="navbar-custom-menu f-right">
                    <ul class="top-nav">
                        <!--Notification Menu-->

                        <li class="dropdown notification-menu">
                            <a href="#!" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                                <i class="icon-bell"></i>
                                <span class="badge badge-danger header-badge">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="not-head">You have <b class="text-primary">4</b> new notifications.</li>
                                <li class="bell-notification">
                                    <a href="javascript:;" class="media">
                                        <span class="media-left media-icon">
                                            <img class="img-circle" src="/assets/images/avatar-1.png" alt="User Image">
                                        </span>
                                        <div class="media-body"><span class="block">Lisa sent you a mail</span><span
                                                class="text-muted block-time">2min ago</span></div>
                                    </a>
                                </li>
                                <li class="bell-notification">
                                    <a href="javascript:;" class="media">
                                        <span class="media-left media-icon">
                                            <img class="img-circle" src="/assets/images/avatar-2.png" alt="User Image">
                                        </span>
                                        <div class="media-body"><span class="block">Server Not Working</span><span
                                                class="text-muted block-time">20min ago</span></div>
                                    </a>
                                </li>
                                <li class="bell-notification">
                                    <a href="javascript:;" class="media"><span class="media-left media-icon">
                                            <img class="img-circle" src="/assets/images/avatar-3.png" alt="User Image">
                                        </span>
                                        <div class="media-body"><span class="block">Transaction xyz complete</span><span
                                                class="text-muted block-time">3 hours ago</span></div>
                                    </a>
                                </li>
                                <li class="not-footer">
                                    <a href="#!">See all notifications.</a>
                                </li>
                            </ul>
                        </li>
                        <!-- window screen -->
                        <li class="pc-rheader-submenu">
                            <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                                <i class="icon-size-fullscreen"></i>
                            </a>

                        </li>
                        <!-- User Menu-->
                        <li class="dropdown">
                            <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                                class="dropdown-toggle drop icon-circle drop-image">
                                <span><img class="img-circle " src="/assets/images/avatar-1.png" style="width:40px;"
                                        alt="User Image"></span>
                                <span>John <b>Doe</b> <i class=" icofont icofont-simple-down"></i></span>

                            </a>
                            <ul class="dropdown-menu settings-menu">
                                <li><a href="#!"><i class="icon-settings"></i> Settings</a></li>
                                <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                                <li><a href="#"><i class="icon-envelope-open"></i> My Messages</a></li>
                                <li class="p-0">
                                    <div class="dropdown-divider m-0"></div>
                                </li>
                                <li><a href="#"><i class="icon-lock"></i> Lock Screen</a></li>
                                <li><a href="login1.html"><i class="icon-logout"></i> Logout</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar hidden-print ">
            <section class="sidebar" id="sidebar-scroll">
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li class="nav-level">--- Navigation</li>
                    <li class="treeview">
                        <a class="waves-effect waves-dark" href="/">
                            <i class="icon-speedometer"></i><span> Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-level">--- Components</li>
                    <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i
                                class="icon-graph"></i><span> Unit 1</span><i class="icon-arrow-down"></i></a>
                        <ul class="treeview-menu">
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit1-tgset"><i
                                        class="icon-arrow-right"></i> TG SET</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit1-hpu"><i
                                        class="icon-arrow-right"></i>
                                    HPU</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit1-los"><i
                                        class="icon-arrow-right"></i> LOS</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit1-cws"><i
                                        class="icon-arrow-right"></i> CWS</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit1-52gbreaker"><i
                                        class="icon-arrow-right"></i> 52G BREAKER</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit1-genprotection"><i
                                        class="icon-arrow-right"></i>
                                    GEN PROTECTION</a></li>
                        </ul>
                    </li>
                    <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i
                                class="icon-graph"></i><span> Unit 2</span><i class="icon-arrow-down"></i></a>
                        <ul class="treeview-menu">
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit2-tgset"><i
                                        class="icon-arrow-right"></i> TG SET</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit2-hpu"><i
                                        class="icon-arrow-right"></i>
                                    HPU</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit2-los"><i
                                        class="icon-arrow-right"></i> LOS</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit2-cws"><i
                                        class="icon-arrow-right"></i> CWS</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit2-52gbreaker"><i
                                        class="icon-arrow-right"></i> 52G BREAKER</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/unit2-genprotection"><i
                                        class="icon-arrow-right"></i>
                                    GEN PROTECTION</a></li>
                        </ul>
                    </li>
                    <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i
                                class="icon-graph"></i><span> Common</span><i class="icon-arrow-down"></i></a>
                        <ul class="treeview-menu">
                            <li><a class="waves-effect waves-dark" href="/componentdetails/commmon-line"><i
                                        class="icon-arrow-right"></i> LINE</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/common-gentrafo"><i
                                        class="icon-arrow-right"></i>
                                    GEN TRAFO</a></li>
                            <li><a class="waves-effect waves-dark" href="/componentdetails/common-waterways"><i
                                        class="icon-arrow-right"></i> WATERWAYS</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <!-- Main content starts -->
            <div class="container-fluid">
                {{{body}}}
            </div>
        </div>
    </div>
    <!-- Required Jqurey -->
    <script src="/assets/plugins/Jquery/dist/jquery.min.js"></script>
    <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/assets/plugins/tether/dist/js/tether.min.js"></script>

    <!-- Required Fremwork -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Scrollbar JS-->
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

    <!--classic JS-->
    <script src="/assets/plugins/classie/classie.js"></script>

    <!-- notification -->
    <script src="/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

    <!-- Sparkline charts -->
    <script src="/assets/plugins/jquery-sparkline/dist/jquery.sparkline.js"></script>

    <!-- Counter js  -->
    <script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/plugins/countdown/js/jquery.counterup.js"></script>

    <!-- Echart js -->
    <!--script src="/assets/plugins/charts/echarts/js/echarts-all.js"></script>-->

    <script src="/assets/plugins/gauge/gauge.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

    <!-- custom js -->
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/pages/dashboard.js"></script>
    <script type="text/javascript" src="/assets/pages/elements.js"></script>
    <script src="/assets/js/menu.min.js"></script>
</body>

</html>