<div class="row">
    <div class="main-header">
        <h4>{{componentTitle}}</h4>
    </div>
</div>

<div class="row">
    <div class="main-header">
        <h5>Turbine</h5>
    </div>
</div>

<!-- 4-blocks row start -->
<div class="row dashboard-header">
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-product fixed-box align-center">
            <span>Total Generation</span>
            <h2 class="dashboard-total-products">10MW</h2>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-product fixed-box align-center">
            <span>Frequency Hz</span>
            <canvas id="frequencyGauge"></canvas>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-product fixed-box align-center">
            <span>Power Factor</span>
            <h2 class="dashboard-total-products">0.85</h2>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-product fixed-box align-center">
            <span>Generator Avg. Voltage</span>
            <h2 class="dashboard-total-products">400 V</h2>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-product fixed-box align-center">
            <span>Generator Avg. Current</span>
            <h2 class="dashboard-total-products">1200 A</h2>
        </div>
    </div>
</div>
<!-- 4-blocks row end -->
